body {
    color: #533;
    background-color: #9bb
    }
header nav {
  width: 100%;
}

.LienMenuDeroulant {
   color:white;
   text-decoration: none;
}

.year div {
    font-size: 25px;
}

.periode td, .periode th {
    text-align: center;
    font-size: 25px;
    height: 80px;
    background-color: white;
}
.day a{
  color: black;
  overflow: hidden;
}

.day a:hover{
    color: green;
    text-decoration: none;
}

.form-horizontal .control-label{
   text-align:left !important;
}

footer  {
  font-size: 8px;
  text-align: center;
}
