body {
    padding-top: 70px; /* Pour que les éléments ne disparaissent pas sous la barre de menu*/
    color: #533;
    background-color: #9bb
    }
.boutonPlus {
   margin-right:5px;
}

/*
-structures ? + formulaire input des addresses et travailleA
-supprimer + favoris ?
- fichiers -> partageAvec ? 
*/
