body {
    padding-top: 70px; /* Pour que les éléments ne disparaissent pas sous la barre de menu*/
    color: #533;
    background-color: #9bb
    }
.LienMenuDeroulant {
   color:white;
   text-decoration: none;
}
.menuDeroulant {

}

/*
-structures ? + formulaire input des addresses et travailleA
-harmoniser le formulaire nouveau et existant
-régler la vue avancée
-fichiers -> partageAvec ?
-RWD
-Logo
-Couleurs + footer
*/
